html,
body {
  height: 100%;
}

.container,
.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
}

img {
  border-radius: 5%;
  border-color: black;
  border-radius: 15px;
  border-style: solid;
}

.resizeImg:hover {
  width: 102%;
}

a {
  font-size: 30px;
}

#animatedLogo {
  animation-name: cycle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-style: none;
}

@keyframes cycle {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(45px);
  }
  to {
    transform: translateY(0px);
  }
}
