.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.accImg {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.button {
  margin-right: 10px;
  justify-content: right;
}
