.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.accImg {
  /*   display: block;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.button {
  margin-right: 10px;
  justify-content: right;
}
